@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap); * {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  background-image: url(./_assets/images/background.png);
  background-color: #ccc;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 95%;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  width: 100%;
  max-width: 1000px;
  height: fit-content;
  margin: 2rem;
  padding: 0.4%;
  background: rgb(150,150,150);
  background: linear-gradient(140deg, rgba(150,150,150,0.9) 40%, rgba(50,140,220,0.9) 100%);
  box-shadow: 0px 35px 55px 0px rgba(0, 0, 0, 0,1);
  border-radius: 1.25rem;
}
.container .left-side {
  position: relative;
  width: 99%;
  background: rgba(150, 210, 255, 0.7);
  padding: 5%;
  box-shadow: 0px 35px 55px 0px rgba(0, 0, 0, 0,1);
  border-radius: 1.25rem;
  color: rgba(255,255,255,1);
}
.container .right-side {
  position: relative;
  width: 99%;
  background: rgba(255, 255, 255, 1);
  padding: 5%;
  margin-left: 1%;
  box-shadow: 0px 35px 55px 0px rgba(0, 0, 0, 0,1);
  border-radius: 1.25rem;
  color: rgba(150,150,150,1);
}

.personal-info {
  position: relative;
  height: 36%;
}
.name {
  position: relative;
  top: 0%;
  width: 100%;
  font-size: 250%;
  text-align: left;
}
.profile-photo {
  position: absolute;
  top: 15%;
  right: -6%;
  width: 50%;
  height: auto;
  z-index: 9;
}
.profile-photo img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: solid;
  border-color: rgb(30, 110, 170);
  object-fit: cover;
  border-width: 0.2rem;
}
.contact-info {
  position: absolute;
  margin-left: -5.5%;
  width: 111.2%;
  font-size: 80%;
  display: flex;
  flex-direction: column;
  padding: 16% 10% 6%;
  border: solid;
  border-color: rgb(30, 110, 170);
  border-radius: 0.4rem;
  border-width: 0.2rem;
}
.contact-info h3 {
  text-align: left;
  font-size: 180%;
  margin-left: 9%;
  font-weight: bold;
}
.contact-info ul {
  list-style-type: none;
  font-weight: bold;
  font-size: 140%;
}
.contact-info li {
  align-items: center;
  margin-top: 5%;
  padding: 4.5%;
  border: solid;
  border-width: 0.15rem;
  border-color: rgb(30, 110, 170);
  border-radius: 2rem;
}
.contact-info a {
  color: #fff;
  text-decoration: none;
}
.contact-info .icon img {
  width: 1rem;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}

.programming-skills {
  position: relative;
  padding: 10% 0%;
}
.programming-skills ul {
  list-style-type: none;
}
.programming-skills li {
  align-items: center;
  margin-top: 0.5rem;
}
.programming-skills .progress {
  position: relative;
  width: 100%;
  height: 1rem;
  display: block;
  background: #fff;
}
.programming-skills .progress div {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  background: rgb(30, 110, 170);
}

.operating-systems {
  position: relative;
  max-width: 100%;
}
.operating-systems ul {
  margin-top: 5%;
  position: relative;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.operating-systems ul li {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.operating-systems ul li img {
  height: 1.9rem;
}

.tools {
  position: relative;
  margin-top: 5%;
}
.tools ul {
  margin-top: 1%;
  list-style-type: none;
}
.tools ul li {
  padding: 1%;
}
.tools ul li img {
  height: 2.5rem;
}
.tools ul li ul {
  display: flex;
  flex-direction: row;
}
.tools ul li ul li {
  width: 25%;
}

.soft-skills {
  margin-top: 1.25rem;
}
.soft-skills ul {
  margin-top: 0.5rem;
  list-style-type: none;
}

.languages {
  position: absolute;
  width: 100%;
  margin-top: 5%;
}
.languages h3 {
  margin-bottom: 5%;
}
.languages ul {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0.2fr 1fr 4fr;
  list-style-type: none;
}
ul.language-list, ul.language-level {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 0.7rem;
  list-style-type: none;
}
.vertical-line {
  border-left: 0.3rem solid rgb(30, 110, 170);
  height: 90%;
  margin-right: 0.5rem;
}
li.language-level-chart {
  position: relative;
  margin-top: 0.2%;
  width: 100%;
}
li.language-level-chart ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
li.chart-row span {
  margin-left: 5%;
  width: 20px;
  height: 20px;
}
.chart-circle {
  width: 100%;
  height: 100%;
  background-color: rgb(30, 110, 170);
  border-radius: 50%;
  display: inline-block;
}

.section-title {
  position: relative;
  width: 100%;
  position: relative;
  display: inline-flex;
  margin-bottom: 0.3rem;
}
.section-title .text {
  position: relative;
  float: left;
  display: block;
  width: fit-content;
  padding: 0% 3%;
  font-size: 1.25rem;
  font-weight: bold;
  border: solid;
  border-width: 0.25rem;
  border-radius: 2rem;
  border-color: rgb(30, 110, 170);
  background-color: rgba(255, 255, 255, 1);
  z-index: 9;
}
.section-title .line {
  position: absolute;
  top: 45%;
  right: 0%;
  overflow: hidden;
  width: 100%;
  height: 10%;
  background-color: rgb(30, 110, 170);
}
.section-content{
  position: relative;
  width: 100%;
  padding: 1% 3.5%;
}
.section-content .content-name {
  color: #000;
  font-weight: bold;
}
.section-content a {
  color: #000;
  text-decoration: none;
}
.section-content img {
  height: 12px;
  margin-left: 10px;
}
.section-content .content-name .period {
  position: absolute;
  right: 0%;
  color: rgb(30, 110, 170);
  font-style: italic;
  text-align: right;
}
.section-content .content-description {
  width: 100%;
  margin-bottom: 1.6%;
}
ul li .content-description {
  list-style-position: inside;
  margin-left: 2%;
}
.content-description a {
  color: #1e6eaa;
}

.hobbies ul li {
  width: 100%;
  text-align: center;  
}
.hobbies ul img {
  display: block;
  margin: 5% auto;
  height: 2.5rem;
}
.hobbies ul {
  list-style-type: none;
}
.hobbies-icons, .hobbies-description {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}